html{
    font-size: 62.5%;
    font-family: sans-serif;

}

body{
    background-color: white;
    font-size: 1.4rem;
    line-height: 1.5;
    font-family: -apple-system, sans-serif;
}

.header{
    position: relative;
    margin: 40px auto .5px;
    width: 270px;
    text-align: center;
    font-family: 'Linux Libertine', serif;
    line-height: 2.3rem;    
}



h1::first-letter{
    font-size: 3.8rem;
}

h1 span{
    font-size: 3.8rem;
}

.header-logo{
    position: absolute;
    top: 158px;
    left: 35px;
}

.header-text-logo{
    display: inline-block;
    vertical-align: bottom;
}

h1{
    font-size: 3rem;
    font-weight: 400;
}


.slogan{
    font-size: 1.5rem;
    font-weight: 400;
}

.featured{
    position: relative;
    width: 546px;
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
    vertical-align: middle;
    height: 32.5rem;
}



.central-featured{
    position: absolute;
    width: 15.6rem;
    display: flex;
}

.central-featured a:hover{
    text-decoration: underline;
    background-color: #eaecf0;
}

.central-featured small{
    display: block;
    color: #54595d;
    text-decoration: none;
    font-weight: 400;
}

.central-featured a{
    position: absolute;
    font-weight: 600;
    text-decoration: none;
    font-size: 1.5rem;
    color: #36c;
    width: 100%;

}

.lang1{
    right: 60%;
    top: 0;
}
.lang2{
    left: 60%;
    top: 0;
}
.lang3{
    right: 70%;
    top: 20%;
}
.lang4{
    left: 70%;
    top: 20%;
}
.lang5{
    right: 72%;
    top: 40%;
}
.lang6{
    left: 72%;
    top: 40%;
}
.lang7{
    right: 70%;
    top: 60%;
}
.lang8{
    left: 70%;
    top: 60%;
}
.lang9{
    right: 60%;
    top: 80%;
}
.lang10{
    left: 60%;
    top: 80%;
}

.search-container{
    width: 546px;
    text-align: center;
    margin: 0 auto;
    max-width: 95%;
}

input[type="search"]::-webkit-search-cancel-button { display: none; }


.search{
    width: 100%;
    height: 4.4rem;
    padding: .8rem 9.6rem .8rem 1.2rem;
    margin-bottom: 1.95rem;
}

.search:focus{
    border-color: #36c;
    box-shadow: inset 0 0 0 2px #36c;
    outline: 0;
    border: 0;
}

.search-input{
    display: inline-block;
    position: relative;
    width: 73%;
    vertical-align: top;
}

.select-lang-container{
    position: absolute;
    top: 1rem;
    right: 5rem;
}

.lang{
    position: absolute;
    display: flex;
    width: 3rem;
    cursor: pointer;
    padding: 2px;
}

.lang:hover{
    background-color: #f8f9fa;
}

label{
    color: #54595d;
    font-size: 11px;
    cursor: pointer;
}

.fas1 {
    position: absolute;
    top: 0.3rem;
    left: 2rem;
    color: hsl(210deg 3% 36%);
}

.search-button{
    display: inline-block;
    min-height: 4.4rem;
    padding: .8rem 2rem;
    background-color: #36c;
    border-color: #36c;
    color: #fff;
    border-radius: 0px 2px 2px 0;
    border: 0;
    box-sizing: border-box;
    margin-left: -4.8px;
    cursor: pointer;
}

.search-button:hover{
    background: #447ff5;
    border-color: #447ff5;
}

.material-icons-outlined{
     font-size: 20px;
}

.lang-list-button-container{
    text-align: center;
}

.lang-list-button{
    background-color: #f8f9fa;
    display: inline;
    position: relative;
    margin: 0 auto;
    padding: 1rem 1.2rem;
    border-radius: 2px;
    color: #36c;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1;
    cursor: pointer;
    border: 1px solid #a2a9b1;
}

.lang-list-button:hover{
    background-color: white;
}

.lang-list-border{
    background-color: #c8ccd1;
    display: block;
    position: absolute;
    max-width: 90px;
    width: 50%;
    margin: -1.6rem auto 1.6rem;
    height: 1px;
    left: 240px;
}
.lang-list-border1{
    background-color: #c8ccd1;
    display: block;
    position: absolute;
    max-width: 90px;
    width: 50%;
    margin: -1.6rem auto 1.6rem;
    height: 1px;
    right: 240px;
}

hr{
    height: 0;
    border: 0,1px solid #c8ccd1;
    margin: .26rem 1.3rem;
}